{{!-- template-lint-disable no-inline-styles --}}
<div class="relative flex flex-col" style="background: black;">
  {{! background image has no contextual significance }}
  <img class="z-1 self-end" src={{@image}} alt="" role="none">

  <div class="z-2 absolute inset-0 flex items-center" style="color: white">
    <div class="w-full max-w-screen-2xl mx-auto">
      <div class="max-w-3xl px-20">
        {{yield}}
      </div>
    </div>
  </div>
</div>
