{{page-title "OpenSource @ CrowdStrike"}}

<App>
  <:topBar>
    <TopBar>
      <:logo>
        <CrowdStrike class="mt-[6px]" />
      </:logo>
      <:title>
        open source
      </:title>
      <:links>
        <Toucan::Link @variant="quiet" class=""@href="/projects">
          <span class="type-lg-medium">Projects</span>
        </Toucan::Link>

        <Toucan::Link @variant="quiet" @href="/docs">
          <span class="type-lg-medium">Documentation</span>
        </Toucan::Link>

        <Toucan::Link @variant="quiet" @href="/docs/open-source-policy">
          <span class="type-lg-medium">Policies</span>
        </Toucan::Link>

        <ThemeSwitcher />
      </:links>
    </TopBar>
  </:topBar>

  <:content>
    {{outlet}}
  </:content>

  <:footer>
    <Footer />
  </:footer>
</App>

