{{page-title "OpenSource @ CrowdStrike"}}

<div class="flex flex-col h-screen leading-none">
  <div class="bg-ground-floor flex flex-col flex-grow min-w-toucan text-titles-and-attributes">
    <TopBar />

    <div class="flex flex-col flex-grow">
      {{outlet}}
    </div>
  </div>

  <Footer />
</div>
