<Hero class="bg-cover md:bg-contain bg-right-top bg-no-repeat bg-[url('/hero-homepage.webp')]">
  <div class="grid gap-8" id="skip-to-target">
    <h1 class="type-4xl">Open Source at CrowdStrike</h1>

    <p class="type-lg">
      By developing and releasing open source tools,
      CrowdStrike reinforces its commitment to give back to the security community
      and make it easier for customers and partners to take advantage of our experience,
      resources, and extensibility of the Falcon platform to help them stop breaches in real-time.

    </p>

    <div>
      <Toucan::Link @variant="brand" class="px-6 py-1" @href="/projects">Explore projects</Toucan::Link>
    </div>
  </div>
</Hero>



<main id="main" name="main">
  <ContentSection>
    <:header>
      One Team. One Fight.
    </:header>

    <:content>
      The teams behind our technology have delivered unparalleled protection against the most sophisticated cyber attacks.
      With a relentless focus on innovation and a fanatical commitment to developing and shaping the Falcon platform,
      we believe open source is key to delivering a best-in-class experience for our customers while leading with integrity. <br>
      Join us on a mission that matters.
    </:content>

    <:footer>
      <SubSection>
        <:header>Fanatical about the customer</:header>
        <:content>By contributing to open source, we are empowering our customers.</:content>
      </SubSection>
      <SubSection>
        <:header>Relentless focus on inovation</:header>
        <:content>Interacting with our community is where we learn and grow.</:content>
      </SubSection>
      <SubSection>
        <:header>Limitless passion = unlimited potential</:header>
        <:content>We’ll never stop taking our technology to the next level.</:content>
      </SubSection>
    </:footer>
  </ContentSection>


  <ContentSection>
    <:header>Featured projects</:header>

    <:content>
      <div class="grid gap-5 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
        <Featured />
      </div>
    </:content>

    <:footer>
      <div>
        <Toucan::Link @variant="normal" @href="/projects">See more projects</Toucan::Link>
      </div>
    </:footer>
  </ContentSection>


  <ContentSection class="home-community bg-[url('/community-bg-icons.webp')] bg-right bg-no-repeat">
    <:header>Join our community</:header>

    <:content>
      Contributing to a project is no small feat!
      We have guidance for our new community members to learn how CrowdStrike-led projects operate,
      and by extension, make the contribution process easier.
    </:content>

    <:footer>
      <div>
        <Toucan::Link @variant="normal" @href="https://github.com/CrowdStrike">Start contributing</Toucan::Link>
      </div>
    </:footer>
  </ContentSection>
</main>
