{{! template-lint-disable no-inline-styles }}
<Hero
  class="bg-cover md:bg-contain bg-right-top bg-no-repeat bg-[url('/hero-projects.webp')]"
  style="background-color: #161616"
>
  <div class="grid gap-8" id="skip-to-target">
    <h1 class="type-4xl">Projects</h1>

    <p class="type-lg">
      The projects listed were developed by CrowdStrike, or CrowdStrike
      contributed to the development of the project. The code is available for
      public use, and we encourage you to check it out!
    </p>
  </div>
</Hero>

<Main>
  <ContentSection>
    <:header>All projects</:header>
    <:content>
      <Projects::Search />
    </:content>
  </ContentSection>
</Main>