{{! template-lint-disable no-forbidden-elements }}
{{! NOTE: We need to have at least *one* occurrence of anchor so that we can compose links ;) }}
<a
  data-test-selector="a"
  ...attributes
  href={{this.href}}
  {{on "click" this.navigate}}
>
  {{yield}}
</a>
