<a
  href={{@href}}
  target="_blank"
  rel="noopener noreferrer"
  class="
    px-2 py-1 focusable focus:outline-none interactive-quiet
    rounded-sm
    transition
  "
  ...attributes
>
  {{yield}}
</a>
